<div class='custom_card'>
  <div class="wow animated fadeIn" data-wow-delay=".15s">
    <a href="{{ project_url }}" class="project card text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>

      {%- if project_img -%}
      <img id="{{ project_id }}-img" class="card-img-left" src="{{ project_img }}" alt="{{ project_name }}" />
      {%- endif -%}

      <div class="card-body_c">
        <div class="card-body">
          <div class="tags">
            <a class="btn" href="https://ywyue.github.io/AGILE3D/">
              <span class="icon" style="margin-left: 0em;position: relative;">
                <i class="fas fa-bolt"></i>
              </span>
              <span>Project Page</span>
            </a>
            <a class="btn" href="https://arxiv.org/abs/2306.00977">
              <span class="icon" style="margin-left: 0em;position: relative;">
                <i class="fas fa-file-pdf"></i>
              </span>
              <span>Paper</span>
            </a>
            <a class="btn collapsible" id="collapse_agile3d">
              <span class="icon" style="margin-left: 0em;position: relative;">
                <i class="fas fa-book"></i>
              </span>
              <span>BibTex</span>
            </a>
            <a class="btn" href="https://github.com/ywyue/AGILE3D">
              <span class="icon" style="margin-left: 0em;position: relative;">
                <i class="fab fa-github"></i>
              </span>
              <span>Code</span>
            </a>
          </div>
          <h5 id="{{ project_id }}-name" class="card-title">
              {%- if project_type == "remote" -%}
              <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
              {%- endif -%}
            {{ project_name }}
          </h5>
          <p id="{{ project_id }}-desc" class="card-text">{{ project_desc }}</p>
          <p id="{{ project_id }}-tools" class="card-text">
            {%- for tool in project_tools -%}
            <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
            {%- endfor -%}
          </p>
          
          <!-- <div id="content_agile3d" class="collapsible-content">
            <pre class="p-bibtex">
            {% raw %}
            @article{yue2023agile3d,
              title     = {{AGILE3D: Attention Guided Interactive Multi-object 3D Segmentation}},
              author    = {Yue, Yuanwen and Mahadevan, Sabarinath and Schult, Jonas and Engelmann, Francis and Leibe, Bastian and Schindler, Konrad and Kontogianni, Theodora},
              booktitle = {arXiv preprint arXiv:2306.00977},
              year      = {2023}
            }
            {% endraw %}
            </pre>
          </div> -->
        </div>
      </div>
    </a>
  </div>
</div>