<ul class="timeline">
    <li>
      <div class="date">2023-06-10</div>
      <div class="content">
        <h3 class="title">News Title 1</h3>
        <p class="description">This is the description of the news article.</p>
      </div>
    </li>
    <li>
      <div class="date">2023-06-09</div>
      <div class="content">
        <h3 class="title">News Title 2</h3>
        <p class="description">This is the description of another news article.</p>
      </div>
    </li>
    <!-- Add more news items here -->
</ul>